body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    text-align: center;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrowdown-toggle {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    background: none;
    border: none;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    animation: bounce 1.2s infinite;
}

.menu-toggle {
    position: absolute;
    color: white;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle:focus,
.arrowdown-toggle:focus,
.close-btn:focus {
    outline: none;
    box-shadow: none;
}

.content1 {
    background: white;
    color: black;
    margin-top: 50px;
    border-radius: 10px;
    padding: 5px 20px;
}

.analytic {
    background: white;
    color: black;
    margin-top: 50px;
    border-radius: 10px;
    padding: 5px 20px;
}